body {
  color : #000000;
  background : #ffffff;
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt;
}

code {
	font-family: "Courier";
	font-size: 10pt;	
}

codeblock {
	margin-left: 20px;
	background: #e6e6e6;
	border-left: 5px solid #969595;
	border-top: 1px solid #969595;
	border-right: 1px solid #969595;
	border-bottom: 1px solid #969595;
	padding: 10px;
}
